@model IEnumerable<HuynhNgocLen.SachOnline.Models.NHAXUATBAN>

<div class="card store-sidebar">
    <div class="so-side-head py-2 px-3 text-uppercase">Nhà xuất bản</div>
    <div class="list-group list-group-flush">
        @foreach (var nxb in Model)
        {
            <a href="@Url.Action("SachTheoNXB", "SachOnline", new { id = nxb.MaNXB })" class="list-group-item list-group-item-action">
                @nxb.TenNXB
            </a>
        }
    </div>
</div>
